.theme-dark,
.theme-light {
  --code-background: #263238;
  --code-tag: #e06c75;
  --code-keyword: #c678dd;
  --code-punctuation: #abb2bf;
  --code-normal: #abb2bf;
  --code-function: #d19a66;
  --code-value: #d19a66;
  --code-property: #e06c75;
  --code-string: #98c379;
  --code-operator: #56b6c2;
  --code-comment: #8f9094;
}

.cm-def {
  color: #e5c07b;
}

.cm-qualifier {
  color: #d19a66;
}

.cm-atom {
  color: #d19a66;
}

.cm-property {
  color: #56b6c2;
}

.cm-type {
  color: rgb(0, 136, 85);
}

.cm-variable-2 {
  color: rgb(0, 85, 170);
}

.cm-comment {
  font-style: italic;
}

.cm-property.cm-string {
  color: #98c379;
}

.cm-string-2 {
  color: rgb(255, 85, 0);
}

.markdown-source-view.mod-cm6 .code-block-flair {
  color: #e5c07b;
  border: 1px #e5c07b;
}
.markdown-source-view.mod-cm6 .code-block-flair:hover {
  background-color: #292d2e;
}
